/* @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap'); */

@font-face {
    font-family: Title;
    src: url(../fonts/boowie/BOOWIE.ttf);
}

@font-face {
    font-family: nombre;
    src: url(../fonts/apple_garamond/AppleGaramond-Bold.ttf);
}

@font-face {
    font-family: texto;
    src: url(../fonts/Faculty_Glyphic/FacultyGlyphic-Regular.ttf);
}

:root {
    --blanco: #ffffff;
    --orange: #ca4212;
    --clearOrange: #f1a78c;
    --primary: #9e794c;
    --secondary: #eab370;
}

body {
    background-image: url(../img/fondoAbba.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
    /* para que historia que abajo */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.title {
    font-family: Title;
    font-size: 10vh;
    top: -5%;
    left: 50%;
    transform: translateX(-50%);
}

.logos {
    display: flex;
    /* Cambia la dirección a columna para alinearlos verticalmente */
    flex-direction: column;
    /* Alinea verticalmente los logos */
    align-items: center;
    right: 5%;
}

.logos img {
    width: 10vh;
    height: auto;
    margin: 40px 0;
}

.logos img .logo {
    height: 20vh;
}

.logos img {
    width: 10vh;
    height: auto;
    margin: 40px 0;
}

/* .logos img .logo {
    height: 20vh;
} */

.imagen .img {
    position: absolute;
    margin-top: 20vh;
}

/* tamaño especifico para el main logo */
.logos .logo {
    height: 20vh;
    width: auto;
}

.titulo {
    font-family: Title;
    font-size: 7vh;
    top: 35%;
    left: 25%;
    transform: translate(-50%, -50%);
    padding: 10px;
    color: var(--blanco);
    text-align: center;
}

.nombre {
    font-family: nombre;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    text-align: center;
}

.precio {
    font-family: Title;
    position: absolute;
    top: 50%;
    left: 45%;
    font-size: 8vh;
}

.descripcion {
    font-family: nombre;
    position: absolute;
    top: 77%;
    left: 25%;
    transform: translate(-50%, -50%);
    padding: 10px;
    color: var(--blanco);
    text-align: center;
    font-size: 2vh;
}

.img {
    margin-left: 10vh;
    height: 80vh;
}

/* Historia */
.imagen2 {
    background-image: url('../img/historia1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 50px;
    color: white;
    position: relative;
    margin-top: 50%;
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 4vh;
}

.historia {
    margin-left: 5%;
}

.bio {
    font-family: nombre;
    text-align: left;
    margin-top: 5%;
    font-size: 3vh;
    width: 800px;
}

.title2 {
    font-family: Title;
    font-size: 10vh;

}

.text {
    color: var(--blanco);
    font-family: texto;
}

.title,
.logos,
.titulo,
.nombre,
.descripcion {
    z-index: 2;
    position: absolute;
}



/* INICIO FOOTER DE LA PAGINA */
footer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    background-color: var(--negro);
    color: var(--naranja);
    background-size: cover;
}

/* login y singup inicio */
.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 0.4em;
    /* background-color: var(--primary); */
    border-radius: 25px;
    /* transition: 0.4s ease-in-out; */
    margin-top: 26.4vh;
}

.card {
    background-image: linear-gradient(163deg,
            var(--naranja) 0%,
            var(--amarillo) 100%);
    border-radius: 22px;
    width: 100vh;
    margin: 5vh;
    transition: all 0.3s;
}

/* CARD2 TRANSITION DESATIVADA MOVIMIENTO */
.card2 {
    border-radius: 0;
    /* transition: all 0.2s; */
}

.card2:hover {
    /* transform: scale(0.98); */
    border-radius: 20px;
}

.card:hover {
    box-shadow: 0px 0px 30px 1px var(--naranja);
}

#heading {
    text-align: center;
    margin: 2em;
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    font-family: Title;
}

.fTitle{
    color: var(--blanco);
    font-family: Title;
}

.field {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    border-radius: 25px;
    padding: 0.6em;
    border: none;
    outline: none;
    color: white;
    background-color: var(--clearOrange);
    box-shadow: inset 2px 5px 10px rgb(122, 68, 37);
}

.input-icon {
    height: 1.3em;
    width: 1.3em;
    fill: white;
}

.input-field {
    background: none;
    border: none;
    outline: none;
    width: 100%;
    color: #d3d3d3;
}

.form .btn {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-top: 2.5em;
}

.button1 {
    padding: 0.5em;
    padding-left: 1.1em;
    padding-right: 1.1em;
    border-radius: 5px;
    margin-right: 0.5em;
    border: none;
    outline: none;
    transition: 0.4s ease-in-out;
    background-color: var(--primary);
    color: white;
}

.button1:hover {
    background-color: var(--clearOrange);
    color: white;
}

.button2 {
    padding: 0.5em;
    padding-left: 2.3em;
    padding-right: 2.3em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: 0.4s ease-in-out;
    background-color: var(--primary);
    color: white;
}

.button2:hover {
    background-color: var(--clearOrange);
    color: white;
}

.button3 {
    margin-bottom: 3em;
    padding: 0.5em;
    border-radius: 5px;
    border: none;
    outline: none;
    transition: 0.4s ease-in-out;
    background-color: var(--primary);
    color: white;
}

.button3:hover {
    background-color: var(--orange);
    color: white;
}

/* log in y singup final */

.contactotitle {
    text-align: center;
    border-top-left-radius: 10px;
    padding: 2vh;
    margin-top: 0;
    color: var(--blanco);
    font-family: Title;
}

.botonesfooter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

/* BOTONES FOOTER INICIO */
.about button {
    background: var(--amarillo);
    font-family: inherit;
    padding: 0.6em 1.3em;
    font-weight: 900;
    font-size: 18px;
    border: 3px solid var(--amarillo);
    border-radius: 0.4em;
    box-shadow: 0.1em 0.1em;
    cursor: pointer;
    margin-top: 20px;
}

button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em var(--naranja);
}

button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em var(--blanco);
}

/* BOTONES FOOTER FIN */


.informacion {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-columns: 1fr;
    grid-template-rows: repeat(1, 1fr);
}

.informacion h3 {
    text-align: center;
}

.titlefooter {
    text-align: center;
    border-top-right-radius: 10px;
    background-color: var(--amarillo);
    padding: 2vh;
    color: var(--blanco);
    font-family: Title;
}

.containerinfo {
    border: solid var(--amarillo);
}

.txtarea {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.txtarea {
    margin-top: 40px;
    padding-bottom: 10vh;
}

.txtarea textarea {
    width: 60vh;
    height: 20vh;
    background-color: var(--negro);
    color: var(--naranja);
}

/* parte de logos para las redes sociales  */
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.button {
    cursor: pointer;
    text-decoration: none;
    color: #ffff;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary);
    border: 2px solid var(--primary);
    transition: all 0.45s;
}

.button:hover {
    transform: rotate(360deg);
    transform-origin: center center;
    background-color: var(--naranja);
    color: #2d2e32;
    box-shadow: 2px 1px var(--amarillo);
}

.button:hover .btn-svg {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(305deg) brightness(103%) contrast(103%);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* final de los logos para el footer */